/*ROLE Card Content*/
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,0.125);
    border-radius: 0.25rem;
}
.align-top {
    vertical-align: top !important;
}
.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}
.text-center {
    text-align: center !important;
}
.text-muted {
    color: #6c757d !important;
}
/*FORM CSS*/
.form-group {
    margin-bottom: 1rem;
}
label {
    display: inline-block;
    margin-bottom: 0.5rem;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}
button, input {
    overflow: visible;
}
input[type=checkbox] {
     box-sizing: border-box;
     padding: 0;
}
input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
    margin: 5px;
}
.btn-primary {
    color: #fff;
    background-color: #4485AF;
    border-color: #4485AF;
}
.w-100 {
    width: 100% !important;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn:active, .btn:focus, .btn:hover, .btn:first-child:active {
    color: #fff;
    background-color: #36698a;
    border-color: #326281;
}
.justify-content-center {
    justify-content: center !important;
}
.btn-outline-primary {
    color: #4485AF;
    border-color: #326281;
    text-decoration: none;
    background-color: transparent;
}
.small {
    font-size: 80%;
    font-weight: 400;
}
.border-danger, .text-danger {
    border-color: #dc3545 !important;
}

.rounded {
    border-radius: 0.25rem !important;
}

.p-2 {
    padding: 0.5rem !important;
}

@media screen and (min-width: 576px) {
    .p-sm-3 {
        padding: 1rem !important;
    }
}