/*NavBar laterale*/
.bg-secondary {
    background-color: #D0D0D0 !important;
}
.align-items-start {
    align-items: flex-start !important;
}
.h-100 {
    height: 100% !important;
}
.badge-primary {
    color: #fff;
    background-color: #4485AF;
}
.text-left {
    text-align: left !important;
}
.navbar-expand-sm .navbar-collapse {
    margin-left: 5%;
}