nav {
    display: block;
}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}

.link{
    color: #4485AF;
    text-decoration: none;
    background-color: transparent;
}

.link:hover {
    color: #2f5b78;
    text-decoration: underline;
}

.font-weight-bold {
    font-weight: 700 !important;
}

@media screen and (min-width: 576px) {
    .d-sm-flex {
        display: flex !important;
    }
}